<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="display: flex; justify-content: space-between; background:linear-gradient(to right, #0F2027, #203A43, #2C5364);">
    <img alt="pasta logo" src="/img/pasta.png" class="navbar-brand" id="logo"/>
    <p id="restaurant-name">Mamma Mia!</p>
    <div id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-links">
        <a class="nav-item nav-link" href="/orders">My Order</a>
        <a class="nav-item nav-link" href="/sms/smsReceive">Order status</a>
        <a class="nav-item nav-link" href="/home">Home</a>
        <a class="nav-item nav-link" href="/home">Sign out</a>
      </div>
    </div>
  </nav>
</header>
